body
{
	background-image: url('../images/background.jpg');
}
.bubb
{ 
    position: absolute; 
    width:40px; 
    height: 40px;     
    text-align: center; 
    vertical-align: middle; 
    padding: 5px; 
    font: bold 14px verdana;
    color: #FFFFFF;
    text-shadow: 0 0 10px #c61a1a;
	font-size:15px;
}

.bubb img
{
	position : absolute;
	left: -20px;
	top: -20px;
	width: 80px;
	height: 80px;
	z-index : -1;
}

.gameover{
    width: 90%; 
    height: 90%;
    padding: 10px 15px; 
    text-align: center;
    vertical-align: middle; 
    font:bold 15px arial; 
    background-color: #dedede; 
    color: #000; 
    -webkit-border-radius: 6px; 
    -moz-border-radius: 6px; 
    position: absolute; 
}

#board
{ 
    width: 100%; 
    margin: 0 auto; 
    padding: 0; 
}  

#score
{
    font-size:50px; 
    font: bold 14px verdana;
    color: #FFFFFF;
    text-shadow: 0 0 10px #c61a1a;
    top: 25px; 
    right: 50px; 
    display: none; 
    text-align:right; 
} 

#start
{ 
    width: 50px; 
    padding: 10px 15px; 
    text-align: center; 
    font:bold 15px arial; 
    background-color: #dedede; 
    color: #000; 
    -webkit-border-radius: 6px; 
    -moz-border-radius: 6px; 
    position: absolute; 
}

#end
{ 
    width: 100px; 
    padding: 10px 15px; 
    text-align: center; 
    font:bold 15px arial; 
    background-color: #dedede; 
    color: #000; 
    -webkit-border-radius: 6px; 
    -moz-border-radius: 6px; 
    position: absolute; 
    display: none;
} 

#word
{
    padding: 10px 15px; 
    text-align: center; 
    font:bold 15px arial; 
    background-color: #dedede; 
    color: #000; 
    -webkit-border-radius: 6px; 
    -moz-border-radius: 6px; 
    position: absolute; 
    display : none;
    z-index : 1;
}

#start:hover, #end:hover
{ 
    cursor: pointer; 
}
